html{
    font-family: 'Roboto', sans-serif;
    --background-color-: linear-gradient(rgb(92, 4, 133), rgb(50, 2, 138));
    --background-glass-: linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    --border-radius--: 15px;
    --border--:1px solid rgba(255,255,255,0.18);
    --box-shadow--: 0 0 0.5em rgba(255,255,255,0.37);
    color: white;
}

body{
    background: var(--background-color-);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    z-index: 1;
}
#navmenu li{
    transition: background-color ease-in 300ms;
    border-radius: var(--border-radius--);
}

.background-col{
    background-color: rgba(75, 4, 133, 0.95);
}

nav{
    transition: background-color ease-in 300ms;
}

.logo{
     width:60px;
 }

 .text-container h1{
     animation: fade-in ease-in 2s;
 }
 .text-container h2{
    animation: fade-in ease-in 4s;
}
.hero img{
    animation: fade-in ease-in 2s;
}


.about-me .container, .projects .container, .skills-containers, form{
     background-image: var(--background-glass-) ;
     border: var(--border--);
     border-radius: var(--border-radius--);
     box-shadow: var(--box-shadow--);
 }

p{
     color: white;
 }

 .about-img{
     width:50%;
     height: 100%;
 }

 .guiguihome-img, .vintage-img, .Choordoor-img, .Colmar-img{
     border-radius: 20px;
 }
 .software,.skillsimg,.contact-img{
     width: 400px;
 }
 
 .skills-containers{
     width: 150px;
 }

 .grid-container{
     
     display: grid;
     grid-template-columns:repeat(2,1fr);
     grid-template-rows:repeat(6,1fr);
     row-gap: 50px;
     align-items: center;
     justify-items: center;
 }

 .form-group{
     width: 100%;
 }
 .form-group input, .form-group textarea{
     background: var(--background-glass-);
     border-radius: var(--border-radius--);
     padding:10px;
     border: var(--border--);
     box-shadow: var(--box-shadow--);
     color: white;
 }

 button[type="submit"],.live-webs{
     border-radius: var(--border-radius--);
     padding: 10px;
     margin: 20px;
     font-size: 1.4rem;
     background: var(--background-glass-);
     border: var(--border--);
     box-shadow: var(--box-shadow--);
     color: white;
     transition: background-color ease-in 200ms;
 }

 button[type="submit"]:hover, #navmenu li:hover,.live-webs:hover{
     background-color: blueviolet;
 }


 div.icon-container>*, div.grid-container>*{
     transition: transform ease-in 100ms;
     color: white;
     text-decoration: none;
 }
 div.icon-container>*:hover, div.grid-container>*:hover{
     transform: scale(1.2);
     color: white;
 }


.faders{
    opacity:0;
    transition:opacity 500ms ease-in
}

.faders.appear{
    opacity: 1;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

 

 @media screen and (min-width:992px){
     .software,.skillsimg,.contact-img{
         width: 700px;
     }
     .grid-container{
         width: 50%;
         margin: auto;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows:repeat(4,1fr);
     }
 }

